.movies{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 330px;
    color: white;
    margin-top: 20px;
}

img{
    width: 330px;
    height: 439px;
}
img:hover{
    transform : scale(0.95);
    transition-duration: 0.8s;
}
.topic{
    display: block;
    font-size: 20px;
    width: 310px;
}
.about{
    display: block;
    width: 310px;
}