.mylistmovies{
    background-color: burlywood;
    margin-left: 40px;
    margin-top: 50px;
    width: 287px;
    height: 439px;
    float: left;
    transition: transform .2s; 
}
.mylistmovies__img{
    width: 287px;
    height: 439px;

}
.mylistmovies:hover{
    transform : scale(1.2);
}
