.header{
    background-color:grey;
    color: white;
    display: flex;

     align-items: center;
     padding-top: 20px;
     padding-bottom: 20px;
}
.header__search{
    display: flex;
    margin-left: 30px;
    margin-right: 200px;
    align-items: center ;


}
.header__option{
    margin-left: 100px;
    display:flex;
    
}
.header__signin{
    position:absolute;
    top:1.5rem;
    right:3.5rem;
    display:flex;
    flex-direction: column;
    color: white;
    text-align:center;
    justify-content: center;
    font-size: 1rem;
    text-decoration:none;
}
@media only screen and (max-width) {
    .header__signin{
        margin-left: 0px;
     }
}
.header__option1{
        margin-left: 20px;
}
.header__option2{
    margin-left: 20px;
    
}
.header__option3{
    margin-left: 20px;
    
    
}
.header__link{
    text-decoration: none;
    color:white;
}
:hover.header__link{
    text-decoration: underline;
}
.header__logo{
    display:flex;
    margin-top: auto;
    margin-bottom:auto; 
    }
@media only screen and (max-width:768px){
    .header__logo{
        margin-left: 70px;
        
        }
    }

.header__searchinput{
    height: 30px;
    
}
.haader__searchicon{
    height: 30px !important;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;

}